@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

/* Header & Hero Styling */

.header {
  background-color: #1F2937;
  color: #F9FAF8;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  max-width: 1000px;
  margin: auto;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.header-links {
  font-size: 18px;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header-links a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: auto;
  max-width: 1000px;
  padding: 100px 0px;
}

.hero-content,
.hero-image {
  flex: 1;
}


.hero-main-text {
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  line-height: 1.5;
  margin-bottom: 8px;
}

.hero-image {
  background-color: grey;
  display: flex;
}
.hero-image span {
  margin: auto;
}

.hero-button {
  background-color: #3882F6;
  border: none;
  color: #F9FAF8;
  font-weight: bold;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

/* Information Section Styling */

.info {
  text-align: center;
  padding: 50px 0px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: auto;
  margin-bottom: 25px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  max-width: 900px;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-img {
  border: 3px solid #3882F6;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.card-text {
  width: 150px;
}

/* Quote Section Styling */

.quote-section {
  background-color: #E5E7EB;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1000px;
  gap: 10px;
  padding: 50px 0px;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  font-family: 'light italic';
}

.quote-attr {
  font-size: 18px;
  font-weight: 900;
  align-self: flex-end;
  padding-right: 40px;
}